.estilo  {
    background-color: #fff;
    padding: 8px;
    margin-top: 15px;
    border-bottom: 0;
    margin-bottom: 0
}

.chamadaExercicio{
    padding: 10px;
    color: #fff;
    background-color: #0f94be;
    margin-bottom: 20px;
}

.tr {
    display: table-row;
    vertical-align: inherit;
}

.td {
    display: table-cell;
    vertical-align: inherit;
}

.button {
    background-color: #5b8807;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }